<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./Public/admin/css/ch-ui.admin.css">
	<link rel="stylesheet" href="./Public/admin/font/css/font-awesome.min.css">
</head>
<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <i class="fa fa-bell"></i> 欢迎登陆网站后台。
        <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; 修改评论
    </div>
    <!--面包屑导航 结束-->
    
    <div class="result_wrap">
        <form action="index.php?p=admin&c=comment&a=update" method="post">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th>评论的文章id</th>
                        <td>
                            <input type="text" name="aid" value="{$info.aid}">
                        </td>
                    </tr>
                    <tr>
                        <th>pid</th>
                        <td>
                            <input type="hidden" value="{$info.id}" name="id">
                            <input type="text" name="pid" value="{$info.pid}">
                        </td>
                    </tr>
                    <tr>
                        <th>评论内容：</th>
                        <td>
                            <textarea class="lg" name="content" id="editor">{$info.content}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>是否显示：</th>
                        <td>
                            <label for=""><input type="radio" name="display"  value="1" {($info.display eq 1)? 'checked': ''}>显示</label>
                            <label for=""><input type="radio" name="display" value="0" {($info.display eq 0)? 'checked': ''}>隐藏</label>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交">
                            <input type="button" class="back" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>
