<!--
参考：http://www。duanliang920。com
-->
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf8">
    <title>你大爷个人博客-分享web前端和SEO技术的个人博客网站</title>
    <meta name="keywords" content="你大爷">
    <meta name="description" content="PHP高级开发攻城狮个人博客，是记录博主学习和成长的一个自媒体博客。">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Window-target" content="_top">
    <link href="./Public/home/css/common.css" rel="stylesheet">
    <link href="./Public/home/css/index.css" rel="stylesheet">
</head>
<body>

<header>
    <div class='fl'>
        <a href="" class="logo"><h1>个人博客</h1></a>
    </div>
    <div class='fr'>
        {if isset($smarty.session.home_userinfo.uname)}
        <a href="">欢迎,{$smarty.session.home_userinfo.uname}</a>

        {else}
        <a href="index.php?p=home&c=login&a=login">登陆</a> |
        <a href="index.php?p=home&c=login&a=register" >注册</a>
        {/if}
    </div>
</header>
<nav id="nav" class="nav-wrap">
    <ul class="clearfix">
        <li><a href="/" id="active">首页</a></li>
        {foreach $cateList as $cate}
        {if $cate.pid eq 0}
        <li><a href="./index.php?p=home&c=article&a=index&cid={$cate.id}">{$cate.name} </a></li>
        {/if}
        {/foreach}
        <li id="navEnd"><a href="index.php?p=home&c=message&a=index">留言版</a></li>
    </ul>
</nav>