{include file="../common/header.html"}
<link href="./Public/home/css/detail.css" rel="stylesheet">

	    
<div id="main" class="add">

	<div class="show-module-wrap clearfix"></div>
	    
 	<div class="main-content clearfix">
   		
     	<div class="main-content-box fl">
          
			<div class="article-list">
				<div class="content-text-box">
					<!-- content-header -->
		 			<h1 class="title-h1">
						{$artInfo.title}
		 			</h1>
		 			<div class="detail-info-box">
			            <ul class="clearfix">
			               	<li>
			               		编辑时间：<span class="date-time">2014-06-05</span>
			               	</li>    
			               	<li id="Browse">
			               		浏览量：<span id="countnum">{$artInfo.pv}</span>
			               	</li>
			               	<li>
			               		作者：<span class="author">{$artInfo.author}</span>
			               	</li>
			            </ul>
				     </div>
					<!-- /content-header -->
				
					<!--内容-->
				    <div class="content">
						{$artInfo.content}
				    	<div class="page-text">
							{if $prev.id eq 1}
							已经是第一篇了<br>
							{else}
							上一篇：<a href="index.php?p=home&c=article&a=detail&id={$prev.id}">{$prev.title}</a> <br>
							{/if}

							{if $next.id eq 0}
							已经到头了了<br>
							{else}
				    		下一篇：<a href="index.php?p=home&c=article&a=detail&id={$next.id}">{$next.title}</a>
							{/if}
				    	</div>
				    </div>
			    	<!---/上一页下一页-->

			    	<!--评论--> 
					<div id="comment">
						{foreach $commentList as $comment}
						<div class="comment" style="margin-left:{60*$comment.level}px">
							<div class="c_fl">
								<img src="./Public/upload/{$comment.img}" width="55" height="55" style="border-radius: 50%" />
							</div>
							<div class="c_fr">
								<a href="##">{$comment.uname}</a>•<span class="time">{$comment.created_time|date_format:'m月d日 H:i'}</span>
								<a href="#commentform" class="reply" onclick="document.getElementById('comment_pid').value={$comment.id}">回复</a>
								<p>
									{$comment.content}
								</p>
							</div>
						</div>
						{/foreach}
					</div>
			    	<!--/评论-->
					<hr>
					<form action="index.php?p=home&c=comment&a=add" method="post" id="commentform">
						<textarea name="content" style="width:80%; height:60px"></textarea>
						<br>
						<input type="hidden" name="aid" value="{$artInfo.id}">
						<input type="hidden" name="pid" value="0" id="comment_pid">
						<input type="submit" value="提交评论">
					</form>

	 			</div>
			</div>
   
    	</div>
   	</div>
      
	<footer class="footer-wrap">
		<p>
			<span>Design by：传值博客</span>
			<span>备案号：<strong>沪ICP备XXXXXXXX号-2</strong></span>
		</p>
	</footer>
</div>
	
<div class="fixed-side-menu">
	<ul class="list">
		<li id="returnTop">
			<a class="ico-bg return-top" href="javascript:;">
			</a>
		</li>
		<li>
			<a class="ico-bg qq" href="http://wpa.qq.com/msgrd?v=3&amp;uin=88888888888&amp;site=qq&amp;menu=yes" target="_blank">
			</a>
		</li>
		<li id="wechatBoxWrap" class="wechat-box-wrap">
			<a class="ico-bg wechat" href="javascript:;"></a>
			<div class="wechat-img">
				<img src="./Public/home/img/weixin.png" width="150" height="135" alt="你大爷博客官方微信公众号">
			</div>
		</li>
	</ul>
</div>


      
	<script type="text/javascript" src="./Public/home/js/common.js"></script>
	<script type="text/javascript" src="./Public/home/js/index.js"></script>

<!-- JiaThis Button BEGIN -->
<!--<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0" charset="utf-8"></script>-->
<!-- JiaThis Button END -->
</body>
</html>
